.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: yellow;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: CornflowerBlue;
  width:400px;
  height:600px;
  border-radius: 25px;
  box-shadow: 5px 10px gray;
}

.upperwrapper{
  display:flex;
  flex-direction:column;
  align-items: center;

}

.lowerwrapper{
  display:flex;
  flex-direction:column;
  align-items: center;
  
}